Flask==2.0.1
flask-pymongo==2.3.0
pytest==6.2.4
pytest-watch==4.2.0
networkx==2.5.1
numpy==1.21.1
konlpy==0.5.2
JPype1 @ file:///C:/encore_kjw/final_Project/GeulReadyEditor/JPype1-1.1.2-cp39-cp39-win_amd64.whl